[submodule "cubiomes"]
	path = cubiomes
	url = git@github.com:easartogita/cubiomes.git
	branch = 26.3
[submodule "leveldb"]
	path = leveldb
	url = git@github.com:Mojang/leveldb.git
[submodule "snappy"]
	path = snappy
	url = git@github.com:google/snappy.git
