[submodule "cubiomes"]
	path = cubiomes
	url = git@github.com:xpple/cubiomes.git
	branch = master
[submodule "leveldb"]
	path = leveldb
	url = git@github.com:Mojang/leveldb.git
[submodule "snappy"]
	path = snappy
	url = git@github.com:google/snappy.git
