[submodule "cubiomes"]
	path = cubiomes
	url = https://github.com/xpple/cubiomes.git
[submodule "leveldb"]
	path = leveldb
	url = git@github.com:Mojang/leveldb.git
[submodule "snappy"]
	path = snappy
	url = git@github.com:google/snappy.git
